{% extends "base.html" %}

{% block content %}

<section class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title" style="margin-bottom: 60px;">
            <i class="fas fa-database" style="color: dodgerblue;"></i>&nbsp;Turn relays on and off:
        </h1>
        <div class="columns">
            <div class="column"></div>
            <div class="column relay">
                <a id="relay-1" href="/relay/1">
                    <span style="color: white;">Relay 1: <b>{{ relay1 }}</b></span>
                </a>
            </div>
            <div class="column relay">
                <a id="relay-2" href="/relay/2">
                    <span style="color: white;">Relay 2: <b>{{ relay2 }}</b></span>
                </a>
            </div>
            <div class="column relay">
                <a id="relay-3" href="/relay/3">
                    <span style="color: white;">Relay 3: <b>{{ relay3 }}</b></span>
                </a>
            </div>
            <div class="column relay">
                <a id="relay-4" href="/relay/4">
                    <span style="color: white;">Relay 4: <b>{{ relay4 }}</b></span>
                </a>
            </div>
            <div class="column"></div>
        </div>
        <div class="columns">
            <div class="column"></div>
            <div class="column relay">
                <a id="relay-5" href="/relay/5">
                    <span style="color: white;">Relay 5: <b>{{ relay5 }}</b></span>
                </a>
            </div>
            <div class="column relay">
                <a id="relay-6" href="/relay/6">
                    <span style="color: white;">Relay 6: <b>{{ relay6 }}</b></span>
                </a>
            </div>
            <div class="column relay">
                <a id="relay-7" href="/relay/7">
                    <span style="color: white;">Relay 7: <b>{{ relay7 }}</b></span>
                </a>
            </div>
            <div class="column relay">
                <a id="relay-8" href="/relay/8">
                    <span style="color: white;">Relay 8: <b>{{ relay8 }}</b></span>
                </a>
            </div>
            <div class="column"></div>
        </div>
        <center>
            <p>(1 = active & 0 = inactive)</p>
        </center>
    </div>
  </div>
</section>

{% endblock %}